@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url('./images/background.png');
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.75);
  border: 1.5px solid rgba(47, 47, 47, 0.18);
}

main {
  padding: 100px 20px;
  flex: 1;
}

.about {
  max-width: 800px;
  margin: 0 auto;
  color: #fff;
  text-align: left;
}

.about h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p {
  font-size: 16px;
  margin-bottom: 20px;
}

.image-placeholder {
  width: 300px;
  height: 200px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

a {
  position: relative;
}

.navbar {
  display: flex;
  position: absolute;
  align-items: center;
}

.navbar a {
  margin: 50px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:not(.btn-login-link)::after {
  content: '';
  left: 0;
  bottom: -3px;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.navbar a:not(.btn-login-link):hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navbar .btn-login {
  width: 125px;
  height: 40px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; 
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}

.navbar .btn-login:hover {
  background: #fff;
  color: rgb(66, 66, 66); 
  text-decoration: none;
}

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #ffffff33;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(-50%);
  font-size: 20px;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}

.wrapper .btn:hover {
  background: #fff;
  color: rgb(66, 66, 66); 
  text-decoration: none;
}

footer {
  background-color: #fff;
  font-size: 12px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.contact p {
  font-weight: bold;
  font-size: 14px;
}

.contact-info {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.contact-info a img {
  display: flex;
  align-items: center;
}

.contact-info a {
  text-decoration: none;
  align-content: center;
  color: #000000;
  transition: color 0.3s;
}

.contact-info a::after {
  content: '';
  left: 0;
  bottom: -3px;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000000;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.contact-info a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}